@charset "UTF-8";

.hotel-box {
    @media print {
        margin: 0 -1rem;
        padding: 1rem;
        border-radius: 1rem;
        border: 2px solid #000;

        &:not(:last-child) {
            margin-bottom: map_get($mq-container-indents, 'md')
        }
    }
}

.hotel-card {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1.6rem .7rem;
    border: 1px solid rgb(230, 234, 237);
    border-radius: $border-radius-base;
    background-color: #fff;

    @include mq(md) {
        display: flex;
        align-items: flex-start;
        margin-left: 0;
        margin-right: 0;
        padding: .9rem;
    }

    @media print {
        padding-top: 0;
        border: 0;
    }

    &__photo {
        position: relative;

        @include mq(sm) {
            margin: 0 auto 1.6rem;
            width: 29rem;
        }

        @include mq(md) {
            margin-right: 1.6rem;
        }

        @media print {
            display: none;
        }

        > a {
            display: block;
        }

        > a > img,
        > img {
            display: block;
            margin: 0 auto;
            vertical-align: top;
        }
    }

    &__information {
        .hotel-card__content p,
        > address {
            @include text-md;

            font-style: normal;
            color: $color-light;

            &:not(:last-child) {
                margin-bottom: .4rem;
            }
        }
    }

    .hotel-card__content {

    }

    .hotel-card__content-hide {
        display: none;
    }

    .hotel-card__open-hide-content {
        @include text-md;
        @include interact(text-decoration, underline);

        color: $color-minor;
    }

    &__header {
        display: flex;
        margin-bottom: .4rem;

        @include mq(sm) {
            flex-direction: column;
        }

        @include mq(md) {
            justify-content: space-between;
            align-items: flex-start;
        }

        @media print {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        > h3 {
            @include mq(sm) {
                order: 2;
            }

            max-width: 50%;
        }
    }

    &__header-rating {
        display: flex;

        @include mq(sm) {
            order: 1;
            margin-bottom: 1.6rem;
        }

        @include mq(md) {
            justify-content: space-between;
        }

        @media print {
            order: 2
        }


        > div {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }

    &__visits-link {
        @include text-sm;

        position: relative;
        top: -2px;
        display: inline-block;
        color: $color-light;

        &:not(:first-child) {
            margin-left: 1rem;
        }

        > i {
            @include size(.8rem, .8rem);

            position: relative;
            display: inline-block;
            top: 0;
            margin-right: .3rem;
            background: {
                position: 50%;
                size: contain;
                image: url(../img/icons/cursor.png);
                repeat: no-repeat;
            };
        }
    }

    &__title {
        @include h2;
    }

    &__footer {
        margin-top: .8rem;
    }

    &__footer-grid {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: .8rem 0 -.8rem;

        > div,
        > a {
            display: block;
            margin-bottom: .8rem;

            &:not(:last-child) {
                margin-right: .8rem;
            }

            > img {
                vertical-align: top;
                width: auto;
                height: 2rem;
            }
        }

        > div {
            cursor: default;
        }
    }
}
