@charset "UTF-8";

.person-card {
    display: flex;
    align-items: flex-start;

    &__heading-grid {
        @include mq(md) {
            display: flex;
        }

        @media print {
            display: flex;
        }
    }

    &__heading {
        @include mq(sm) {
            display: flex;
            align-items: center;
            margin-left: -.8rem;
            margin-right: -.8rem;
            padding-bottom: calc(1rem - 1px);
            padding-left: .8rem;
            padding-right: .8rem;
            border-bottom: 1px solid $color-border;
        }

        @media print {
            display: none;
        }
    }

    &__name {
        font-weight: 700;

        @include mq(md) {
            display: none;
        }

        @media print {
            display: none;
        }
    }

    &__heading-contact-information {

        @include mq(md) {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        @media print {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-left: 0;
        }
    }

    &__heading-contact-information-item {
        font-weight: 700;

        &[data-color="minor"] {
            color: $color-minor;

            > a {
                color: $color-minor;
            }
        }

        @include mq(sm) {
            margin-left: -.8rem;
            margin-right: -.8rem;
            padding: calc(1rem - 1px) .8rem;

            &:not(:last-child) {
                border-bottom: 1px solid $color-border;
            }
        }

        @include mq(md) {
            &:not(.person-card__heading-contact-information-item--description) {
                &:not(:first-child) {
                    position: relative;
                    margin-left: map_get($mq-container-indents, 'md');

                    &::after {
                        @include size(.5rem);

                        position: absolute;
                        top: 50%;
                        left: -1rem;
                        transform: translate(-50%,calc(-50% + 1px));
                        border-radius: 50%;
                        background: $color-light;
                        content: "";
                    }
                }
            }
        }

        @media print {
            &:not(.person-card__heading-contact-information-item--description) {
                &:not(:first-child) {
                    margin-left: map_get($mq-container-indents, 'md');
                }
            }

            &:not(.person-card__heading-contact-information-item--description) {
                padding-bottom: 0;
                border: 0;
            }
        }

        &--description {
            @include text-md;

            width: 100%;
            font-weight: normal;
            color: $color-light;

            > a {
                color: $color-light;
            }
        }

        &.is-md {
            display: none;

            @include mq(md) {
                display: block;
            }

            @media print {
                display: block;
            }
        }

    }

    &__photo {
        @include size(3.2rem);

        margin-right: map_get($mq-container-indents, 'md');;
        min-width: 3.2rem;

        @include mq(md) {
            @include size(4rem);

            min-width: 4rem;
            background-color: rgb(234, 234, 234);
            box-shadow: 0px 3px 9px 0px rgba(151, 158, 165, 0.65);
        }

        @media print {
            @include size(4rem);

            background-color: rgb(234, 234, 234);
            box-shadow: 0px 3px 9px 0px rgba(151, 158, 165, 0.65);
        }

        > img {
            @include size(100%);

            border-radius: 4px;
        }
    }
}
