@charset "UTF-8";

@media print {
    *,*:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line { background:
        transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    @page {
        size: auto;   /* auto is the initial value */
        margin: 2cm 0;  /* this affects the margin in the printer settings */
    }

    body {
        display: block;
        -webkit-print-color-adjust: exact !important;
        overflow-y: visible !important;
    }

    a[href]:after {
        content: none !important;
        text-decoration: none !important;
    }

    a {
        border-bottom: 0 !important;
        text-decoration: none !important;
        backface-visibility: hidden;
    }
    section {
        page-break-before: always;
    }

    p {
        widows: 4;
        color: #000;
    }
}

.not-print {
    @media print {
        display: none !important;
    }
}

.is-print {
    display: none;

    @media print {
        display: block !important;
    }
}

.print-header-content {
    display: none;

    @media print {
        display: block;
        margin: map_get($mq-container-indents, 'md') 0;
    }

    &__grid {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .4rem 14rem;
        border-top: 2px solid;
        border-bottom: 2px solid;

        @media print {
            justify-content: center;
            align-items: center;
        }
    }

    &__description {
        color: #000;
    }

    &__image-code {
        @media print {
            @include size(5rem);

            min-width: 5rem;

            margin-left: 1.6rem;

            > img {
                min-width: 50%;
                height: auto;
                display: block;
                vertical-align: top;
            }
        }
    }
}

.tour-agency-title {
    @include text-sm;

    @media print {
        position: absolute;
        top: -.3rem;
        left: 2rem;
        transform: translateY(-50%);
        font-weight: bold;
        padding: .4rem;
        background: #fff !important;
    }
}
