@charset "UTF-8";

.top-hotels {
    display: flex;
    align-items: center;

    > b {
        @include text-md;

        position: relative;
        top: -.1rem;
        margin-right: .8rem;
        padding: .2rem .4rem;
        border-radius: 2px;
        background: #000;
        color: #fff;
        font-weight: 700;

        &::after {
            content: attr(data-rating)
        }
    }

    > span {
        @include text-sm;

        color: #000;

        @media print {
            @include text-md;

            position: relative;
            top: -1px;
        }
    }
}

.tripadvisor {
    display: flex;
    align-items: center;

    > ul {
        display: flex;
        align-items: center;
        margin-right: .8rem;
        list-style-type: none;

        @media print {
            display: flex;
            align-items: center;
            margin-right: .8rem;
            list-style-type: none;
        }

        > li {
            @include size(1.4rem);

            position: relative;
            border-radius: 50%;
            border: 2px solid #39ba9d;

            @media print {
                border: 2px solid #000;
            }

            &[data-value=''] {
                > span {
                    display: none;
                }
            }

            &[data-value='0.5'] {
                > span {
                    width: .35rem;
                    left: .2rem;
                    border-radius: 100% 0 0 100% / 50% 0 0 50%;
                    transform: translate(0, -50%);
                    content: "";
                }
            }

            > span {
                @include size(.7rem);

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border-radius: 50%;
                background: #39ba9d;

                @media print {
                    @include size(.7rem);

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    border-radius: 50%;
                    background: #000 !important;
                }
            }
        }
    }

    > span {
        @include text-sm;

        top: .1rem;
        color: #39ba9d;

        @media print {
            @include text-md;

            position: relative;
            top: -1px;
        }
    }
}
