@charset "UTF-8";

.site-header {
    padding-top: 1.4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-border;
    background: #fff;

    @include mq(sm) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include mq(md) {
        padding-top: 1.2rem;
        padding-bottom: 2.4rem;
    }

    @media print {
        margin-top: 4rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border: 0;
    }

    &__grid {
        @include mq(sm) {
            text-align: center;
        }

        @include mq(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media print {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
    }

    &__information {
        @include mq(md) {
            display: flex;
            align-items: center;
            max-width: 50rem;
        }

        @media print {
            display: flex;
            align-items: center;
        }
    }

    &__logo {
        display: block;

        @include mq(sm) {
            margin: 0 auto map_get($mq-container-indents, 'md');
            max-width: 8.5rem;
        }

        @include mq(md) {
            position: relative;
            display: flex;
            align-items: center;
            padding-right: 4rem;
            height: 8rem;
            max-height: 8rem;
            width: auto;
        }

        @media print {
            display: flex;
            align-items: center;
            height: 4rem;
        }

        &::before {
            position: absolute;
            top: .6rem;
            right: 2rem;
            bottom: -.4rem;
            width: 1px;
            background: #dbdcde;

            @include mq(md) {
                content: "";
            }

            @media print {
                content: "";
            }
        }

        > img {
            display: block;
            width: auto;
            max-width: 100%;
            vertical-align: top;

            @include mq(md) {
                max-height: 100%;
                max-width: 30rem;
            }

            @media print {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__title {
        @include mq(sm) {
            margin-bottom: map_get($mq-container-indents, 'md');
        }

        @include mq(md) {
            margin-top: -.3rem;
            margin-left: map_get($mq-container-indents, 'md');
        }

        @media print {
            margin-left: map_get($mq-container-indents, 'md')
        }
    }

    &__actions {
        display: flex;

        @include mq(sm) {
            justify-content: center;
        }

        @include mq(md) {
            align-items: flex-end;
            min-height: 2.6rem; // line-height .site-header__title

            @media print {
                align-items: center;
                min-height: 2rem;
            }
        }

        @include mq(lg) {
            margin-top: .6rem;
        }

        @media print {
            align-items: center;
            min-height: 2rem;
        }

        > a {
            @include interact(fill, $color-minor, 'hover .icon');

            white-space: nowrap;
            font-weight: 700;

            &:not(:last-child) {
                margin-right: map_get($mq-container-indents, 'md');
            }

            &[data-color="minor"] {
                color: $color-minor;

                > .icon {
                    margin-right: .8rem;
                    fill: $color-minor;
                }
            }

            > .icon {
                @include size(2.4rem);

                display: none;
                position: relative;
                top: -.2rem;
                fill: $color-brand;

                @include mq(lg) {
                    display: inline-block;
                }

                @media print {
                    display: none !important;
                }
            }
        }
    }
}
