@charset "UTF-8";

.footer-price-info {
    @include font(1.3rem, 2rem);

    margin: 1rem 0 3.5rem;
    text-align: center;
    font-weight: 400;
    color: $color-light;

    @include mq(md) {
        margin: 2rem 0 3rem;
    }

    + .site-footer {
        margin-top: 0 !important;
    }
}

.site-footer {
    position: relative;
    margin-top: 7rem;
    padding: 2rem 0;
    border-top: 1px solid $color-border;
    background: #fff;

    @include mq(sm) {
        padding-top: 4rem;
    }

    @include mq(md) {
        padding: map_get($mq-container-indents, 'md') * 2 0;
    }

    @include mq(lg) {
        margin-top: 7rem;
    }

    @media print {
        position: relative;
        padding: map_get($mq-container-indents, 'md') * 2 0;
        border: 0;
        page-break-inside: avoid;
    }

    &__massage {
        @include font(1.3rem, 2rem);

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: calc(.8rem - 1px) calc(1.8rem - 1px);
        border-radius: .4rem;
        border: 1px solid #d8e1e6;
        background: #fff;
        text-align: center;
        font-weight: 700;
        color: #1a1a1a;

        @include mq(sm) {
            width: 30rem;
        }

        @include mq(md) {
            min-width: 42.6rem;
            white-space: nowrap;
        }

        > .red {
            color: $color-error;
        }

        @media print {
            width: auto;
            vertical-align: top;
        }

        &:empty {
            display: none;
        }
    }

    &__message-price {
        position: absolute;
        top: -1.8rem;
        left: 50%;
        width: calc(100% - 2rem);
        transform: translate(-50%, -100%);


        @include mq(sm) {
            top: -1.2rem;
        }
    }

    &__grid {
        @include mq(lg) {
            @include grid(x, space-between)
        }

        @media print {
            @include grid(x, space-between);

            padding-top: 1.9rem;
            border-top: 1px solid #000;
        }
    }

    &__navigate {
        @include mq(lg) {
            @include grid-col(8.5/12);
        }

        @media print {
            @include grid-col(8/12);
        }
    }

    &__navigate-grid {
        @include grid;

        @include mq(sm) {
            margin-bottom: -1 * map_get($mq-container-indents, 'sm');
        }

        > ul {
            @include grid-col(1/2);

            margin-bottom: map_get($mq-container-indents, 'sm');

            @include mq(md) {
                @include grid-col(2/8);
            }

            @include mq(lg) {
                @include grid-col(2/8);

                margin-bottom: 0;
            }

            @media print {
                @include grid-col(1.5/6);
            }

            &:nth-child(4) {
                @include mq(md) {
                    margin-left: auto;
                }
            }

            > li {
                @include text-sm;

                color: $color-light;

                @include mq(lg) {
                    @include text-md
                }

                > a {
                    color: $color-minor;
                }
            }
        }
    }

    &__logo {
        display: block;
        margin: 0 auto;

        @include mq(lg) {
            @include grid-col(3/12);

            width: auto;
            margin: 0;
        }

        > a {
            display: block;
            margin:  map_get($mq-container-indents, 'sm') * 2 auto 0;
            max-height: 100%;
            //width: 6rem;

            @include mq(md) {
                max-width: 15rem;
            }

            @include mq(lg) {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 0;
                //max-width: 8.5rem;
            }

            @media print {
                display: flex;
                align-items: flex-start;
                height: 4rem;
            }

            > img {
                display: block;
                width: auto;
                vertical-align: top;
                max-height: 8rem;

                @include mq(sm) {
                    margin: 2rem  auto 0;
                }

                @include mq(md) {
                    max-width: 100%;
                }
            }
        }
    }
}

