@charset "UTF-8";

.button-tooltip {
    @include size(1.9rem, 1.2rem);

    position: relative;
    margin-left: .8rem;
    top: .4rem;
    border-radius: .8rem;
    border: 1px solid $color-light;
    background: transparent;
    cursor: pointer;
    outline: none;

    .tour__col-title & {
        @include mq(sm) {
            margin-left: auto;
        }
    }

    @media print {
        display: none !important;
    }

    &[aria-describedby] {
        @include mq(sm) {
            border-color: transparent;

            &::before,
            &::after {
                position: absolute;
                display: block; // for ie-11
                top: 50%;
                left: 50%;
                width: 1.5rem;
                height: 1px;
                background: $color-brand;
                transition: 0;
                content: "";
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &::before {
        position: absolute;
        display: block; // for ie-11
        top: -.6rem;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        color: $color-minor;
        content: "...";
    }
}


.tippy-tooltip {
    @include text-md;

    padding: .4rem .5rem;
    max-width: 30.4rem;
    background: rgba($color-brand, .9);
    text-align: left;
    font-weight: 700;
}

.tippy-popper[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: rgba($color-brand, .9);
}
