@charset "UTF-8";

.tours {
    margin-top: .8rem;

    &:not(:last-child) {
        margin-bottom: map_get($mq-container-indents, 'md')
    }

    > .tour {
        &:not(:first-child) {
            margin-top: .5rem;
        }

        @media print {
            position: relative;
            margin: 0;
            border-bottom: 0;

            &:not(:first-child) {
                border-top: 0;
                margin-top: 0;
            }

            &:not(:last-child) {
                border-bottom: 2px solid #000;
            }
        }
    }


}

.tour {
    padding: calc(1rem - 1px);
    border-radius: 2px;
    border: solid 1px $color-border;
    background-color: #fff;

    @include mq(sm) {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    @media print {
        position: relative;
        margin: 0;
        padding: 1rem .8rem;
        border-top: 2px solid #000;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    &__header {
        display: flex;
        margin-bottom: 1.6rem;

        @include mq(sm) {
            flex-direction: column-reverse;
            margin-bottom: .8rem;
        }

        @include mq(md) {
            justify-content: space-between;
        }

        @media print {
            margin-bottom: 0 !important;
            justify-content: space-between;
        }

    }

    &__header-col {
        display: block;

        &:not(:last-child) {
            @include mq(md) {
                max-width: 50%;
                margin-right: map_get($mq-container-indents, 'md');
            }

            @media print {
                max-width: 50%;
                margin-right: map_get($mq-container-indents, 'md');
            }

        }

        &:last-child {
            @include mq(sm) {
                display: none;
            }
        }
    }

    &__header-agency-information {
        display: flex;
        align-items: flex-start;
    }

    &__header-logo-image {
        display: block;
        margin-right: map_get($mq-container-indents, 'md');
        max-width: 5rem;

        > img {
            max-width: 100%;
            height: auto;
            vertical-align: top;
        }
    }

    &__header-name {
        @include text-md;

        color: $color-light;

        > a {
            color: inherit;
        }
    }

    &__container {

        @include mq(md) {
            @include grid(x,flex-start,flex-start);

            flex-wrap: wrap;
        }

        @media print {
            @include grid(x,space-beetween,flex-start);
        }
    }

    .tour__date-information-col {
        @include mq(sm) {
            margin: 0 calc(-1rem - 1px);
            padding: calc(1rem - 1px);

            &:first-child {
                padding-top: calc(1rem - 1px);
            }

            &:not(:last-child) {
                padding-bottom: calc(1rem - 1px);
                border-bottom: 1px solid $color-border;
            }
        }

        @media print {
            border: 0 !important;
        }
    }

    &__fb-col,
    &__date-information-col {
        @include mq(md) {
            @include grid-col(2/6);
        }

        @include mq(lg) {
            @include grid-col(2.5/12);
        }
    }

    &__date-information-col {
        @media print  {
            width: 30%;
        }
    }

    &__fb-col {
        @media print  {
            width: 40%;
            margin-right: 4rem;
        }
    }

    &__price-and-tags-col {
        @include mq(sm) {
            margin-top: 1.8rem;
        }

        @include mq(md) {
            @include grid-col(2/6);
            margin-left: auto;
        }

        @include mq(lg) {
            @include grid-col(4.4/12);
        }

        @media print {
            margin-left: auto;
        }
    }

    &__price-and-tags-grid {
        @include mq(sm) {
            text-align: center;
        }

        @include mq(md) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
        }

        @include mq(lg) {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        @media print {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        > .tag-grid {
            display: none;

            @include mq(sm) {
                display: flex;
                justify-content: center;
                margin-bottom: .8rem;
            }

            @media print {
                position: absolute;
                top: 0;
                right: 4rem;
                display: flex;
                transform: translateY(-50%);
                padding: .8rem;
                z-index: 99;
                justify-content: flex-end;
                background: #fff !important;
            }
        }
    }

    &__flight-information-col {
        @include mq(md) {
            @include grid-col(4/6);
        }

        @include mq(lg) {
            @include grid-col(2.5/12);
        }

        @media print {
            display: none !important;
        }
    }

    &__flight-information-box {
        @include mq(md) {
            @include grid;

            margin-top: .8rem;
        }

        @include mq(lg) {
            display: block;
            margin-top: 0;
        }

        @media print {
            display: block;
            margin-top: 0;
        }
    }

    &__flight-information-item {

        .tour__flight-information-col & {
            @include mq(sm) {
                margin: 0 calc(-1rem - 1px);
                padding: calc(1rem - 1px);
                border-bottom: 1px solid $color-border;

                &:first-child {
                    padding-top: calc(1rem - 1px);
                }
            }

            @media print {
                border: 0 !important;
            }
        }

        @include mq(md) {
            @include grid-col(1/2);
        }

        @include mq(lg) {
            flex: auto;
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }

        @media print {
            flex: auto;
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }

        &:not(:last-child) {

            @include mq(lg) {
                margin-right: 0;
            }

            @media print {
                margin-right: 0;
            }
        }
    }

    &__col-title,
    &__col-description {
        > a {
            color: inherit;
        }
    }

    &__col-title {
        @include text-md;

        display: flex;
        font-weight: 600;
        color: $color-brand;

        .tour__fb-col & {
            @include mq(sm) {
                margin: 0 calc(-1rem - 1px);
                padding: calc(1rem - 1px);
                border-bottom: 1px solid $color-border;

                &:first-child {
                    padding-top: calc(1rem - 1px);
                }
            }

            @media print {
                border: 0 !important;
            }
        }

        @media print {
            display: block;
            margin: 0;
            border: 0 !important;

            > a {
                display: none;
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    &__col-description {
        @include text-md;

        color: $color-light;

        .tour__col-title & {
            margin-left: .8rem;
            display: inline;
        }
    }

    &__price-box {
        display: flex;
        justify-content: center;
        margin-bottom: 1.2rem;

        @include mq(sm) {
            flex-direction: row-reverse;
        }

        @include mq(md) {
            justify-content: flex-end;
        }

        @include mq(lg) {
            display: block;
            margin-right: 1.6rem;
            margin-bottom: 0;
        }

        @media print {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__price {
        @include font(1.8rem, 1.8rem);

        font-weight: 600;
    }

    &__old-price {
        @include text-md;

        text-decoration: line-through;
        color: $color-light;

        @include mq(sm) {
            margin-right: .8rem;
        }
    }

    &__price,
    &__old-price {
        text-align: right;

        > a {
            color: inherit;
        }

        @media print {
            @include font(1.4rem, 2rem);

            font-weight: 700;
        }
    }
}

.tour-comment {
    display: flex;

    &:not(:first-child) {
        margin-top: 1rem;
    }

    &__photo {
        @include size(3.2rem);

        max-width: 3.2rem;

        > a {
            display: block;
        }

        > a > img,
        > img {
            min-width: 3.2rem;
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }

    &__content {
        @include text-md;

        flex-grow: 1;
        margin-left: 1rem;
        color: $color-light;

        @include mq(md) {
            margin-top: .4rem;
        }

        @media print {
            margin-top: .4rem;
        }
    }
}
