
// Text
@mixin text-lg {
    @include font(1.5rem, 1.8rem);
}

@mixin text-md {
    @include font(1.3rem, 1.8rem);

    @media print {
        @include font(1.4rem, 2rem);
    }
}

@mixin text-sm {
    @include font(1.1rem, 1.5rem);
}

// Headings
@mixin h {
    font-family: $font-family-alt;

    a {
        text-decoration: none;
    }
}

@mixin h1($font-weight: $font-weight-solid) {
    @include h;
    @include font(1.8rem, 2.4rem);

    @include mq(md) {
        @include font(2.2rem, 2.8rem);
    }

    font-weight: $font-weight;
}

@mixin h2($font-weight: $font-weight-solid) {
    @include h;
    @include font(1.8rem, 2.4rem);

    @include mq(md) {
        @include font(1.8rem, 2rem);
    }

    font-weight: $font-weight;
}

@mixin h3($font-weight: $font-weight-solid) {
    @include h;
    @include font(4rem);

    font-weight: $font-weight;
}

@mixin h4($font-weight: $font-weight-solid) {
    @include h;
    @include font(3rem);

    font-weight: $font-weight;
}

@mixin h5($font-weight: $font-weight-solid) {
    @include h;
    @include text-lg;

    font-weight: $font-weight;
}

@mixin h6($font-weight: $font-weight-solid) {
    @include h;
    @include text-md;

    font-weight: $font-weight;
}

// Links
@mixin link-base {
    @include interact(color, $color-minor);

    color: $color-link;
}
