.hotel-card
    .hotel-card__photo
        a(href='#')
            img(src='img/hotel2.jpg' alt='Royal Beach Resort & Spa 5*')
        .photo-badges-container
            //a.photo-badge(href='#') Все 35 фото

        //ul.photo-badge-navigate
        //    li
        //        a(href='#') Видео-обзор
        //
        //    li
        //        a(href='#') 3D-тур

    article.hotel-card__information
        header.hotel-card__header
            h3.hotel-card__title

                a(href='#') Royal Beach Resort & Spa 5*&nbsp;

            .hotel-card__header-rating
                .top-hotels
                    b(data-rating='4.6')
                    span TopHotels
                //
                //.tripadvisor
                //    ul
                //        li(data-value='1'): span
                //        li(data-value='1'): span
                //        li(data-value='1'): span
                //        li(data-value='1'): span
                //        li(data-value='0.5'): span
                //
                //    span Tripadvisor


        address Шарджа, ОАЭ

        footer.hotel-card__footer
            .hotel-card__footer-grid
