.hotel-card
    .hotel-card__photo
        a(href='#')
            img(src='img/hotel.jpg' alt='Royal Beach Resort & Spa 5*')
        //.photo-badges-container
        //    a.photo-badge(href='#') Все 35 фото

        //ul.photo-badge-navigate
        //    li
        //        a(href='#') Видео-обзор
        //
        //    li
        //        a(href='#') 3D-тур

    article.hotel-card__information
        header.hotel-card__header
            h3.hotel-card__title

                a(href='#') Royal Beach Resort & Spa 5*&nbsp;<span class='hotel-card__visits-link'><i></i> 3 клика</span>

            .hotel-card__header-rating
                .top-hotels
                    b(data-rating='4.6')
                    span TopHotels

                .tripadvisor
                    ul
                        li(data-value='1'): span
                        li(data-value='1'): span
                        li(data-value='1'): span
                        li(data-value='1'): span
                        li(data-value='0.5'): span

                    span Tripadvisor


        address Шарджа, ОАЭ
        .hotel-card__content.js-content-description
            p Семейный отдых в отеле Pilot Beach Resort&SPA, Крит! Команда аниматоров организует для наших...
            //p.hotel-card__content-hide.js-hide-content Rehana Royal Beach Resort - Aquapark & Spa находится в городе Шарм-эль-Шейх, на берегу водоема. Риф Джексона и Nabq Bay расположены в 15 минутах езды на автомобиле. Этот 5-звездочный курорт — вариант с прекрасным расположением: Пляж Наама-Бэй находится в 21,5 км, Пляж Рехана — в 5,9 км от него.
            //a.hotel-card__open-hide-content.js-read-more(href='#') Полное описание

        footer.hotel-card__footer
            //.hotel-card__footer-grid.not-print
            //    a(href='#' target='_blank'): img(src='img/icons/TripAdvisor.jpg' alt='TripAdvisor')
            //    a(href='#' target='_blank'): img(src='img/icons/ya.jpg' alt='Yandex')
            //    a(href='#' target='_blank'): img(src='img/icons/google.jpg' alt='Google')

            .hotel-card__footer-grid
                .tag Тренажерный зал
                .tag Библиотека
                .tag Wi-Fi
                .tag Конференц-зал

