.promo-information
    .wysiwyg
        p Здравствуйте, Наталья!
        p Мы с вами сегодня обсуждали тур в Таиланд.
        p Подготовила подборку из лучших вариантов, соответствующих вашим пожеланиям: хороший вход в воду, детский клуб, водные горки, аниматоры, детский стол в ресторане.
        p Посмотрите все варианты, почитайте отзывы. Как только определитесь (или если возникнут вопросы) — сразу набирайте: +79001112233.

    .person-card
        .person-card__heading-grid
            .person-card__heading.person-card__heading--mobile-options
                .person-card__photo
                    img(src='img/photo.jpg' alt='Оксана Иванова')
                .person-card__name: a(href='#') Оксана Иванова

            ul.person-card__heading-contact-information
                li.person-card__heading-contact-information-item: a(href='#') Оксана Иванова
                li.person-card__heading-contact-information-item: a(href='#') +7 (920) 661-66-44
                li.person-card__heading-contact-information-item(data-color='minor'): a(href='#') ds@qui-quo.ru
                li.person-card__heading-contact-information-item.person-card__heading-contact-information-item--description Я Ваш персональный менеджер, отвечу на любые вопросы, помогу выбрать незабываемый тур
