header.site-header(role='header')
    .container
        .site-header__grid
            .site-header__information
                a.site-header__logo(href='#')
                    img(src='img/logo.svg' alt='Company name' title='Company name')

                h1.site-header__title: a(href='#') Турагентство E-travel

            .site-header__actions
                a(href='tel:889206616644') +7 (920) 661-66-44
                a(href='mailto:ds@qui-quo.ru' data-color="minor") ds@qui-quo.ru

.print-header-content
    .container
        .print-header-content__grid
            p.print-header-content__description
                | Больше информации про отели с фотографиями и описаниями  по ссылке&nbsp
                a(href='http://www.qui­quo.ru/SY53­TE98') http://www.qui­quo.ru/SY53­TE98
            .print-header-content__image-code
                img(src='img/QR_code_1.jpg' alt='qr-code link')


