footer.site-footer
    .container
        .site-footer__grid
            .site-footer__navigate
                .site-footer__navigate-grid

                    ul
                        li г. Москва
                        li Сормовская, 6
                        li ТЦ «Перекресток».
                        li: a(href='#') Посмотреть на карте

                    ul
                        li Пн-Пт: 10:00-18:00,
                        li Сб: 11:00-15:00,
                        li Вс: выходной

                    ul
                        li (495) 455-33-87
                        li: a(href='mailto:qui-quo@yandex.ru') qui-quo@yandex.ru
                        li: a(href='www.qui-quo.ru' target='_blank') www.qui-quo.ru
                        li: a(href='www.rbc.ru' target='_blank') www.rbc.ru
                        li: a(href='#') Посмотреть на карте

                    ul
                        li: a(href='#') Facebook
                        li: a(href='#') Вконтакте
                        li: a(href='#') Twitter
                        li: a(href='#') Одноклассники
                        li: a(href='#') Youtube

            .site-footer__logo
                a(href='#')
                    img(src='img/logo.svg' alt='Company name' title='Company name')
