footer.site-footer
    .site-footer__massage(data-price-information="Цены действительны на момент подбора") Эта&nbsp;подборка&nbsp;туров&nbsp;создана&nbsp;с&nbsp;помощью сервиса <span class='red'>Q</span>ui-<span class='red'>Q</span>uo
    .container
        .site-footer__grid
            .site-footer__navigate
                .site-footer__navigate-grid

                    ul
                        li г.&nbsp;Москва
                        li Сормовская,&nbsp;6
                        li ТЦ&nbsp;«Перекресток».
                        li: a(href='#') Посмотреть&nbsp;на&nbsp;карте

                    ul
                        li Пн-Пт:&nbsp;10:00-18:00,
                        li Сб:&nbsp;11:00-15:00,
                        li Вс:&nbsp;выходной

                    ul
                        li (495)&nbsp;455-33-87
                        li: a(href='mailto:qui-quo@yandex.ru') qui-quo@yandex.ru
                        li: a(href='www.qui-quo.ru' target='_blank') www.qui-quo.ru
                        li: a(href='www.rbc.ru' target='_blank') www.rbc.ru
                        li: a(href='#') Посмотреть&nbsp;на&nbsp;карте

                    ul
                        li: a(href='#') Facebook
                        li: a(href='#') Вконтакте
                        li: a(href='#') Twitter
                        li: a(href='#') Одноклассники
                        li: a(href='#') Youtube

            .site-footer__logo
                a(href='#')
                    img(src='img/logo.png' alt='Company name' title='Company name')
