.tours
    .tour
        .tour__header
            .tour__header-col
                .tour__header-agency-information
                    a.tour__header-logo-image(href='#' target='_blank')
                        img(src='img/agency.png' alt='agency name')

                    .tour__header-name
                        a(href='#' target='_blank') Начало тура: Москва

            .tour__header-col
                ul.tag-grid
                    li.tag(data-background-color="red" data-text-transform="uppercase" data-font-style="bold") Рекомендую
                    li.tag(data-background-color="yellow" data-text-transform="uppercase" data-font-style="bold") Промо цена

        .tour__container
            .tour__date-information-col
                h4.tour__col-title: a(href='#') 18+1 ночей
                .tour__col-description 27 июля (вс) - 08 авг (чт)

            .tour__fb-col
                h4.tour__col-title FB
                h4.tour__col-title 2Adl+1Chd 2-3, 12+, 12+


            .tour__flight-information-col
                .tour__flight-information-box

                    .tour__flight-information-item
                        h4.tour__col-title
                            a(href='#') 14.07 23:05
                            .tour__col-description Домодедово

                    .tour__flight-information-item
                        h4.tour__col-title
                            a(href='#') 28.07 13:05
                            .tour__col-description Ханья (HNY)


            .tour__price-and-tags-col
                .tour__price-and-tags-grid
                    .tour__price-box
                        .tour__price 100 400 RUB
                        .tour__old-price 160 090 RUB

                    a.button(href='#') Хочу купить этот тур


