extends layouts/application

block title
    title Index

block main

    .section
        .container
            include components/_promo_information

    .section
        .container
            .hotel-box

                include components/_hotel_card
                include components/_tours_1

            .hotel-box

                include components/_hotel_card_2
                include components/_tours_2

            .hotel-box

                include components/_hotel_card_3
                include components/_tours_3


