extends layouts/application

block title
    title Index

block main

    .section
        .container
            include components/_promo_information

    .section
        .container
            .hotel-box
                include components/_hotel_card
                include components/_tours_1


